.familia-noastra {
    text-align: center;
    padding: 50px 20px;
}

.familia-noastra h2 {
    font-size: 64px;
    margin-bottom: 20px;
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.echipa {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.membru {
    text-align: center;
}

.membru img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.membru h3 {
    color: #354D32;
    font-size: 23px;
    margin: 5px 0 5px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.membru p {
    font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 5px;
    margin-bottom: 5px;
}