.section-work-data {
    background-color: rgb(230, 228, 228);
    text-align: center;
}

.counter-numbers {
    font-size: 2.5rem;
}

.grid-three-column {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.grid-three-column p{
	font-size: 1.3rem;
}