.section-work-data {
    background-color: #E0E0E0;
    text-align: center;
}

.counter-numbers {
    font-size: 64px;
}

.grid-three-column {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.grid-three-column p{
	font-size: 26px;
}