@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active{ color: #333;}



h1 {
    margin: 0;
}
.gallery {
    width: 1500px;
    margin: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    
}


.gallery-item {
    background-color: #E0E0E0;
    border-radius: 10px;
    width: 243px;
    height: 323px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    margin: 20px;
    text-align: center;

}

.gallery-item img {
height: 225px;
width: 100%;
gap: 0px;
border-radius: 7px;
object-fit: cover;
margin-bottom: 20px;

}

/*
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pagination-image {
    width: 50px;
    height: auto;
    margin: 0 5px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

.header-container {
    display: flex;
}

a {
    color:black;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 30px;
}

.white {
    color: white;
}
*/
.mid {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 20px;
    display: flex;
    border: 1px solid rgb(201, 201, 201);
    background-color:rgb(201, 201, 201) ;
    justify-content: center;
}

.box {
    padding: 5px;
}

.space {
    margin-left: 20px;
    margin-right: 20px;
}
