footer {
    background-color: rgba(135, 147, 147, 0.692);
    text-align: center;


}

.icon {
    display: inline-block;
    box-align: center;
    width: 50px;
}

img {
    width: 100%;
}


#im1,
#im2,
#im4 {
    border-radius: 7px;
}



.ide {
    text-align: center;
    background-color: rgba(135, 147, 147, 0.692);
}