
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;


}

header {
    padding: 1.5rem 0;
    line-height: 3rem;
    vertical-align: middle;
    max-width: 960px;
    margin: 0 auto;

}

header::after {
    clear: both;
    content: ' ';
    display: block;
}

header>a {
    line-height: 0px;
    float: left;
    display: block;
}

header img {
    height: 2.6rem;
}

header nav {

    float: right;
}

header ul li {
    display: inline-block;

    margin-left: 2rem;

}

header ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 28px;
    transition: color 0.3s ease;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

header ul li a:hover {
    color: rgb(170, 20, 20);
}