body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Stiluri pentru containerul principal */
.container {
    text-align: center;
}

/* Stiluri pentru emblema */
.emblema img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    width: 400px;
    height: 325px;
}

/* Stiluri pentru textul principal */
.text {
    font-size: 18px;
}

/* Stiluri pentru mesaj1 */
.mesaj1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rosu {
    color: #b31b25;
}

.mesaj1{
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
}

/* Stiluri pentru mesaj2 */
.mesaj2 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.paws {
    color:#6B2626 ;

}

.match {
    color: #D93131;
}

.mesaj2{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
