body{
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
  height: 100vh;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #AFB8C1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #AAA5AC; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #97848A; 
    border-radius: 9px;
  }