body{
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
  height: 100vh;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F2F2F2; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(186, 186, 186); 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #C4554D; 
    border-radius: 9px;
  }